* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    margin: 0;
    background-color: gray;
}

body, .quote-input {
    font-family:Arial, Helvetica, sans-serif
}

.container {
    background-color: greenyellow;
    padding: 1rem;
    border-radius: .25rem;
    width: 700px;
    max-width: 90%;
}

.timer {
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    color: greenyellow;
    font-weight: bold;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(.75rem + 2px);
    margin-right: calc(.75rem + 2px);
}

.quote-input {
    background-color: transparent;
    border: 2px solid gray;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem .75rem;
    font-size: 1rem;
}

.quote-input:focus {
    border-color: black
}